---
import Container from '@/components/container.astro';
import SectionHead from '@/components/sectionhead.astro';
import PricingCard from '@/components/pricing.astro';

const pricing = [
  {
    name: 'Marketing Digital',
    price: null,
    popular: false,
    features: [
      'Desarrollo de estrategias de marketing',
      'Diagnóstico completo de marca digital',
      'Re configuración, Análisis, Creación y administración de redes sociales',
      'Creación de calendarios de contenidos',
      'Ubicación en Google Maps',
      'Videos, Reel, Grids, Edición de video',
      'Copywriting, Redacción para publicaciones',
      'Creación y optimización de campañas ads',
      'Personalización de mensajes y experiencia por IA',
      'Chatbots con IA para atención al cliente',
    ],
    button: {
      text: 'Empieza Ahora',
      link: '/contact',
    },
  },
  {
    name: 'Diseño Gráfico',
    price: null,
    popular: false,
    features: [
      'Creación, Edición y Publicación de Contenido',
      '2 Portadas al Mes',
      '12 Historias',
      '8 Reels al Mes',
      '6 Carrusel/Post al Mes',
      'Calendario de Contenido',
      'Reuniones de Revisión y Estrategia',
      'Reporte de Resultados con Análisis de Crecimiento',
      'Gestión Avanzada en META ADS',
    ],
    button: {
      text: 'Empieza Ahora',
      link: '/contact',
    },
  },
];
---

<Container>
  <SectionHead>
    <Fragment slot='title'>Servicios De Marketing</Fragment>
    <Fragment slot='desc'>
      Servicios de marketing digital diseñados para darle visibilidad a tu
      negocio.
    </Fragment>
  </SectionHead>

  <div class='grid grid-cols-1 md:grid-cols-2 gap-10 mx-auto mt-12'>
    {pricing.map((item) => <PricingCard plan={item} />)}
  </div>
</Container>

;
