---
import Container from '@/components/container.astro';
import Sectionhead from '@/components/sectionhead.astro';
import PricingCard from '@/components/pricing.astro';

const pricing = [
  {
    name: 'Plan Órbita',
    price: '$80',
    popular: true,
    features: [
      'Administración de redes FB/IG',
      'Creación de Contenido y edición de texto',
      '1 Portada al Mes',
      '8 Artes al Mes ',
      '8 Historias',
      '2 Reels al Mes',
      'Adaptaciones de Logo',
      'Gestión Avanzada en META ADS (1 campaña mensual  + segmentación avanzada y estrategica, presupuesto asumido por el cliente)',
    ],
    button: {
      text: 'Empieza Ahora',
      link: '/contact',
    },
  },
  {
    name: 'Plan Nebulosa',
    price: '$130',
    popular: true,
    features: [
      'Administración de redes FB/IG',
      'Creación, Publicación de contenido y edición de texto',
      '2 Portada al mes',
      'Adaptaciones del Logo',
      '8 Artes para redes sociales al mes',
      '10 historias',
      '3 reels al mes',
      '1 carrusel al mes  - post',
      '2 días de publicidad pagada',
      '1 visita presencial al mes',
      'Gestión de pauta avanzada en META ADS',
      'Gestión Avanzada en META ADS',
    ],
    button: {
      text: 'Empieza Ahora',
      link: '/contact',
    },
  },
  {
    name: 'Plan Propulsión',
    price: '$160',
    popular: true,
    features: [
      'Administración de redes FB/IG',
      'Creación, Publicación de contenido y edición de texto',
      'Optimización de redes sociales',
      'Línea Gráfica',
      '2 Portada al mes',
      'Adaptaciones del Logo',
      '10 Artes para redes sociales al mes',
      '13 historias del contenido trabajado',
      '3 reels al mes',
      'Sesión Fotográfica de marca ó 1 reels ó vídeoClips',
      '2 carruseles al mes - post',
      '1 Visita Presencial Mensual para recolección de contenido',
      '3 días de Publicidad Pagada',
      'Desarrollo de calendario e ideas de contenido',
      'Asesoría y Gestión de Pauta avanzada en META ADS',
    ],
    button: {
      text: 'Empieza Ahora',
      link: '/contact',
    },
  },
  {
    name: 'Plan Galaxia',
    price: '$250',
    popular: true,
    features: [
      'Administración de 3 redes',
      'Creación, Publicación y edición de contenido, copys',
      'Optimización de redes sociales',
      'Línea Gráfica',
      '2 Portada al mes',
      'Adaptaciones del Logo',
      '12 historias al mes (6 producidas y 6 orgánicas)',
      '8 reels al mes (2 por semana)',
      '6 carruseles al mes (2 por semana)',
      'Calendario de contenido',
      '2 visita presencial mensual para recolección de contenido',
      '2 reuniones de revisión y estrategia',
      '10 días de Publicidad pagada',
      'Reporte completo de redes con análisis de crecimiento',
      'Gestión de pauta avanzada en META ADS',
    ],
    button: {
      text: 'Empieza Ahora',
      link: '/contact',
    },
  },
];

const { show = true } = Astro.props;
---

<Container>
  {
    show && (
      <Sectionhead>
        <Fragment slot='title'>Gestión de Redes</Fragment>
        <Fragment slot='desc'>
          Servicios de marketing digital para impulsar tu presencia en línea.
        </Fragment>
      </Sectionhead>
    )
  }

  <div class='grid grid-cols-1 md:grid-cols-2 gap-10 mx-auto mt-12'>
    {pricing.map((item) => <PricingCard plan={item} />)}
  </div>
</Container>
