---
import Container from '@/components/container.astro';
import SectionHead from '@/components/sectionhead.astro';
import CardGR from './cards/CardGR.astro';
import CardSM from './cards/CardSM.astro';
import CardMD from './cards/CardMD.astro';
import CardOT from './cards/CardOT.astro';
import CardLO from './cards/CardLO.astro';

const { show = true } = Astro.props;
---

<Container>
  <SectionHead>
    <Fragment slot='title'>Tarifas</Fragment>
    <Fragment slot='desc'>
      Precios sencillos & previsibles. Sin sorpresas.
    </Fragment>
    <Fragment slot='cont'>
      Contactános a través de nuestras redes sociales o formas de contacto para
      obtener más información.
    </Fragment>
  </SectionHead>

  <div class='mt-[-1rem]'>
    <CardGR show={show} />
    {
      show && (
        <>
          <CardMD />
          <CardSM />
          <CardLO />
          <CardOT />
        </>
      )
    }
  </div>
</Container>
