---
import { Picture } from 'astro:assets';
import heroImage from '@/assets/astronauta.png';
import Link from '@/components/ui/link.astro';
import { Icon } from 'astro-icon/components';

const title = 'Amplía tu Marketing con Nexus Brand Services';
const description =
  'Somos una agencia que ofrece servicios fundamentales y altamente conectados para el desarrollo y crecimiento de marcas, cubriendo desde la estrategia hasta la ejecución en Diseño y Marketing Digital .';
---

<main
  class='grid lg:grid-cols-2 place-items-center pt-20 pb-8 lg:pt-10 md:pb-24'>
  <div class='md:order-1 hidden lg:block'>
    <Picture
      src={heroImage}
      alt='Astronaut in the air'
      widths={[200, 400, 600]}
      height={580}
      sizes='(max-width: 620px) 100vw, 480px'
      loading='eager'
      format='avif'
    />
  </div>
  <div>
    <h1
      class='text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter'>
      {title}
    </h1>
    <p class='text-lg mt-4 text-slate-600 max-w-xl'>
      <!-- Astroship is a starter template for startups, marketing websites & landing -->
      <!-- pages.<wbr /> Built with Astro.build and TailwindCSS. You can quickly create -->
      <!-- any website with this starter. -->
      {description}
    </p>
    <div class='mt-6 flex flex-col sm:flex-row gap-3'>
      <Link
        href='#'
        href='https://web3templates.com/templates/astroship-starter-website-template-for-astro'
        target='_blank'
        class='flex gap-1 items-center justify-center'
        rel='noopener'>
        <Icon class='text-white w-5 h-5' name='bx:bxs-phone' />

        Contáctanos
      </Link>
      <Link
        size='lg'
        style='outline'
        rel='noopener'
        href='https://github.com/surjithctly/astroship'
        class='flex gap-1 items-center justify-center'
        target='_blank'>
        Más Información
      </Link>
    </div>
  </div>
</main>
