---
// @ts-ignore
import { Icon } from 'astro-icon/components';
import { Picture } from 'astro:assets';
import NexusLogo from '@/assets/nexus.png';
---

<div class='mt-24'>
  <h2 class='text-[18px] text-center text-slate-500'>
    Síguenos en nuestras redes sociales
  </h2>
  <div
    class='flex gap-4 md:gap-12 items-center justify-center mt-10 flex-wrap cursor-pointer'>
    <a
      target='_blank'
      href={'https://www.facebook.com/profile.php?id=61576646686918'}>
      <Icon class='size-8 md:size-11' name='simple-icons:facebook' />
    </a>
    <a target='_blank' href={'https://www.instagram.com/nexusbrandservices.ni'}>
      <Icon class='size-8 md:size-11' name='simple-icons:instagram' />
    </a>
    <Icon class='size-8 md:size-11' name='simple-icons:tiktok' />
    <Icon class='size-8 md:size-11' name='simple-icons:whatsapp' />
  </div>
  <!-- <Icon class="size-8 md:size-14" name="simple-icons:brave" /> -->
  <!-- <Icon class="size-8 md:size-12" name="simple-icons:vercel" /> -->
</div>
<a href='/contact'>
  <Picture
    src={NexusLogo}
    alt='Nexus Brand Services Logo'
    width={200}
    class={'mx-auto mt-2 mb-[-5.3rem]'}
    loading='eager'
    format='avif'
  />
</a>
